button,
.btn,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 1px solid var(--color--gold);
	border-radius: 0;
	background: var(--color--gold);
	color: var(--color--dgray);
	line-height: 1;
	padding: 0.75rem 1rem;
	font-size: var(--text-size--s);
	text-decoration: none;
	font-weight: 500;
	text-transform: uppercase;
	transition: var(--transition--short) ease;
	cursor: pointer;

	&:hover {
		background-color: var(--color--lgold);
		border-color: var(--color--lgold);
	}

	&:active,
	&:focus {
		background-color: var(--color--gold);
	}
}

.btn {
	display: inline-block;

	&:visited {
		color: var(--color--dgray);
	}

	&:hover,
	&:focus {
		color: var(--color--dgray);
	}
}

.btn.btn--white {
	background-color: rgba(#fff, .85);
	border: none;
	padding: .675rem .75rem;
	color: var(--color--mgray);
	transition: var(--transition--short) ease background-color;

	&:hover,
	&:focus {
		background-color: rgba(#fff, 1);
	}
}

.btn.btn--arrow {
	background-color: transparent;
	border: 0;
	color: var(--color--red);
	position: relative;

	.btn--arrow__arrow {
		background-image: url(../images/icon-chevron-right.svg);
		display: inline-block;
		width: 6px;
		height: 10px;
		margin-left: -6px;
		opacity: 0;
		transition: .125s ease-in-out all;
	}

	&:hover, &:focus {
		.btn--arrow__arrow {
			margin-left: 15px;
			opacity: 1;
		}
	}
}

.btn-top {
	display: block;
	position: fixed;
	border-radius: 50%;
	border: 1px solid #fff;
	background: var(--color--gold);
	filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, 0.15));
	width: 50px;
	height: 50px;
	z-index: 10;
	right: 1rem;
	bottom: calc(-50px - 1rem);
	transition: var(--transition--short) ease-in all;

	&:hover {
		background: var(--color--gold);
	}

	&:focus,
	&--visible {
		bottom: 1rem;
	}

	&__tri {
		display: block;
		position: absolute;
		width: 0; 
		height: 0;
		border-left: 12px solid transparent;
		border-right: 12px solid transparent;
		border-bottom: 18px solid #fff;
		left: 50%;
		top: calc(42% - 2px);
		transform: translate(-50%, -50%);
	}

	&__text {
		position: absolute;
		display: block;
		font-size: var(--text-size--xs);
		bottom: 5px;
		left: 50%;
		transform: translateX(-50%);
		color: #fff;
		text-transform: uppercase;
	}
}

/* Gravity Forms overrides */
.gform_footer input:is([type="submit"]).gform_button {
	border: 1px solid var(--color--gold) !important;
	border-radius: 0 !important;
	background: var(--color--gold) !important;
	color: var(--color--dgray) !important;
	line-height: 1 !important;
	padding: 0.75rem 1rem !important;
	font-size: var(--text-size--s) !important;
	font-weight: 500 !important;
	text-transform: uppercase !important;
	transition: var(--transition--short) ease !important;

	&:hover {
		background-color: var(--color--lgold) !important;
		border-color: var(--color--lgold) !important;
	}

	&:active,
	&:focus {
		background-color: var(--color--gold) !important;
	}
}