button,
.btn,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 1px solid var(--color--gold);
	border-radius: 0;
	background: var(--color--gold);
	color: var(--color--dgray);
	line-height: 1;
	padding: 0.75rem 1rem;
	font-size: var(--text-size--s);
	text-decoration: none;
	font-weight: 500;
	text-transform: uppercase;
	transition: var(--transition--short) ease;
	cursor: pointer;

	&:hover {
		background-color: var(--color--lgold);
		border-color: var(--color--lgold);
	}

	&:active,
	&:focus {
		background-color: var(--color--gold);
	}
}

.btn {
	display: inline-block;

	&:visited {
		color: var(--color--dgray);
	}
}

.btn.btn--white {
	background-color: rgba(#fff, .85);
	border: 1px solid #fff;
	padding: .5rem .75rem;
	color: var(--color--mgray);
	transition: var(--transition--short) ease background-color;

	&:hover,
	&:focus {
		background-color: rgba(#fff, 1);
	}
}