hr {
	background-image: url(../images/filigree.svg);
	background-position: 50% 50%;
	background-size: 234px;
	background-repeat: no-repeat;
	border: 0;
	height: 15px;
	margin: 1.5em auto 1.5em;
}

hr.hr-alt {
	background-image: url(../images/filigree-alt.svg);
	background-size: 200px;
}

hr.hr-none {
	display: none;
}