.main-navigation {
	display: block;
	width: 100%;

	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;
	}

	.sub-menu {
		display: none;
	}

	a {
		color: var(--color--mgray);
		text-decoration: none;

		&:visited,
		&:hover,
		&:focus {
			color: var(--color--mgray);
		}
	}

	&__controls {
		display: none;
		flex-direction: row;
		justify-content: space-between;
		align-items: flex-start;
		width: 100%;
		margin: 0 0 .75em;
		min-height: 40px;
	}

	&__close {
		background: transparent;
		color: var(--color--mgray);
		font-size: 2.25rem;
		font-weight: normal;
		padding: 0 .125em;
		border: 0;

		&:hover,
		&:focus {
			color: var(--color--dgray);
			background: none;
		}
	}

	&__wrapper {
		width: 100%;
		order: 4;
	}

	.sub-menu-toggle {
		cursor: pointer;
	}

	&.toggled {
		ul {
			display: block;

			&.header__social-menu {
				display: flex;
			}

			&.main-navigation__feat-menu {
				display: none;
			}
		}

		.sub-menu {
			display: none;
		}

		.main-navigation__controls {
			display: flex;
		}
	}
	
	&__container {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-items: flex-start;
		position: fixed;
		left: -295px;
		top: var(--wp-admin--admin-bar--height, 0px);
		height: calc(100vh - var(--wp-admin--admin-bar--height, 0px));
		width: 295px;
		background-color: rgba(#fff, .95);
		box-shadow: none;
		transition: .25s ease left;
		overflow-y: scroll;
		z-index: 1000;
		padding: 1em 1em;
	}

	&.toggled {
		.main-navigation__container {
			left: 0;
			box-shadow: -2px 0 9px rgba(0,0,0,.4);
		}
	}

	&__wrapper {
		margin: 1em 0 0;
		padding-right: 5px;
	}

	&__nav {
		margin: .75em 0 0;
		width: 100%;
	}

	&__menu {
		.top-level-menu-item {
			position: relative;

			&:last-of-type {
				border-bottom: 0;
			}

			> a {
				font-family: var(--font--alt);
				font-size: var(--text-size--h2);
				line-height: 1.22;
				text-decoration: none;
				display: block;
				padding: .5em 0;
				font-weight: normal;

				&:hover,
				&:focus {
					font-weight: bold;
				}
			}

			&.focus > a {
				font-weight: bold;
			}

			&.menu-item-has-children {
				.sub-menu-toggle {
					position: absolute;
					width: 100%;
					text-align: right;
					top: 0;
					right: 0;
					z-index: 2;
				}
			}

			&.toggled {
				> a {
					font-weight: bold;
				}
			}
		}
	}

	.sub-menu-toggle {
		background: transparent;
		color: var(--color--mgray);
		font-weight: normal;
		font-size: 1.675rem;
		padding: 0;
		height: 39px;
		border: 0;
		transition: .125s ease border-bottom;

		&.toggled {
			border: 0;
		}

		&:hover {
			border: 0;
		}

		&:focus {
			border: 0;
		}
	}

	.sub-menu {
		margin: 0 0 0 1em;
		position: relative;
		width: 100%;
		box-shadow: none;
		top: 0;
		left: 0;
		z-index: 0;
		float: none;
		
		> li {
			> a {
				font-size: var(--text-size--l);
				line-height: 1.2;
				text-decoration: none;
				color: var(--color--mgray);
				display: block;
				padding: .3125em 0;

				&:hover,
				&:focus {
					color: var(--color--mgray);
				}
			}
		}
	}

	&__feat-menu {
		li {
			position: relative;
		}

		.sub-menu-toggle {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			text-indent: -999em;
		}

		.sub-menu {
			position: absolute;
			z-index: 10;
			background-color: rgba(255, 255, 255, .85);
			transform: translateY(10px);
			transition: .25s ease opacity;
			opacity: 0;
			display: block;
			top: calc(100% - 1px);
			left: -999em;
			padding: .75em 1em;
			min-width: 200px;
			margin: 0;

			&.active {
				display: block;
				transform: translateY(0);
				transition: .25s ease transform, .25s ease opacity;
				left: 0;
				opacity: 1;
			}
		}
	}

	@include media-breakpoint-up(lg) {
		display: flex;
		align-items: center;
		justify-content: flex-end;

		&__featured {
			display: flex;
		}

		ul.main-navigation__feat-menu {
			display: flex;
			flex-direction: row;
			justify-content: flex-end;

			li.top-level-menu-item {
				margin: 0.325em 1em -0.625em 0;
				padding-bottom: .5em;
				
				&:last-child {
					margin-right: 1.25em;
				}

				&:after {
					content: '';
					display: block;
					position: absolute;
					bottom: 0;
					left: 50%;
					transform: translateX(-50%);
					background: var(--color--red);
					height: 3px;
					width: 0;
					transition: var(--transition--short) ease all;
				}

				&:hover {
					&:after {
						width: 100%;
						left: 0;
						transform: translateX(0);
					}
				}
			}

			a {
				font-family: var(--font--alt);
				font-size: var(--text-size--l);
			}

			.sub-menu {
				border: 1px solid black; //temp

				li {
					margin: 0;
				}

				a {
					font-family: var(--font--main);
					font-size: var(--text-size--m);
					width: 100%;
				}
			}
		}

		&.toggled ul.main-navigation__feat-menu {
			display: flex;
		}
	}
}

.menu-toggle {
	background: transparent;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 37px;
	width: 42px;
	appearance: none;
	box-shadow: none;
	border: 0;
	margin: 0 0 0 auto;
	padding: 0;

	&:hover,
	&:focus {
		background: none;
	}

	span {
		background: var(--color--mgray);
		width: 40px;
		height: 4px;
		display: block;
		
		+ span {
			margin-top: 8px;
		}

		&.menu-toggle__text {
			background: none;
			color: var(--color--mgray);
			margin-top: 6px;
		}
	}

	@include media-breakpoint-up(lg) {
		width: 36px;
		height: 36px;
		padding: 4px;
		border-radius: 2px;
		margin: 2px 0 0;

		span {
			width: 28px;
			height: 3px;

			+ span {
				margin-top: 6px;
			}

			&.menu-toggle__text {
				font-size: .625rem;
				margin-top: 4px;
			}
		}
	}
}

.header {
	&__social-nav {
		margin: 1em 0 0;
	}

	&__social-menu {
		flex-direction: row;
		list-style: none;
		padding: 0;
		justify-content: flex-start;
        align-items: baseline;

        svg {
            fill: var(--color--mgray);
            display: block;
            width: 100%;
            height: auto;
        }
    }

    &__social-li {
        margin-right: .625em;
        max-width: 30px;

        &:last-of-type {
            margin-right: 0;
        }
    }
}