.basic-content {
    padding: .5rem 0 1rem;
    margin: 0 0 1rem;
    text-align: center;

    &--bmargin {
        margin-bottom: 0;
        padding-bottom: 0;
    }

    p {
        font-size: var(--text-size--s);
        line-height: var(--body-line-height);
    }

    h2:first-child {
        margin-top: 0;
    }

    p:last-child,
    ul:last-child {
        margin-bottom: 0;
    }

    .container-lg {
        max-width: 800px !important;
    }
}

@include media-breakpoint-up(md) {
    .basic-content {
        padding: 1.25rem 0 1.75rem;

        &--bmargin {
            padding-bottom: 0;
        }
    }
}