.floor-plan-prev {
    text-align: center;

    h2 {
        margin: 0;
    }

    p {
        font-size: var(--text-size--s);
        line-height: var(--body-line-height);
        margin: 1em 0 0;

        &:first-of-type {
            margin-top: 1.5em;
        }
    }

    &--pad {
        padding: 1rem 0;
    }

    &__text {
        max-width: 450px;
        margin: 0 auto;
    }

    &__btn {
        background: none;
        border: none;
        padding: 0;
        margin: 1rem auto 0;
        display: block;
        text-transform: none;
        color: var(--color--gray);
        max-width: 275px;

        &:hover,
        &:focus {
            background: none;
            border: none;
            text-decoration: underline;
        }
    }

    &__btn-text {
        display: block;
        margin-top: 1rem;
        line-height: var(--body-line-height);
    }

    &__modal {
        text-align: center;

        .modal-header {
            padding-bottom: 0;
        }


    }

    &__img-container {
        overflow: scroll;
        max-height: calc(100vh - var(--wp-admin--admin-bar--height, 0px) - 100px);
    }

    &__img-full {
        width: 1200px;
        max-width: 1200px;
    }
}

@media screen and (max-width: 374px) {
    .floor-plan-prev {
        h2.highlight {
            font-size: var(--text-size--m);
        }
    }
}

@include media-breakpoint-up(sm) {
    .floor-plan-prev {
        &__btn {
            max-width: 350px;
        }
    }
}

@include media-breakpoint-up(md) {
    .floor-plan-prev {
        text-align: left;

        p {
            font-size: var(--text-size--m);
        }

        &--pad {
            padding: 1.5em 0 2em;
        }

        &__flex {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
        }

        &__text {
            margin-left: 0;
        }

        &__img {
            max-width: 390px;

            &.animate {
                transform: translateX(20px);
            }

            &.animated {
                transform: translateX(0);
            }
        }

        &__btn {
            max-width: 450px;
        }
    }
}

@include media-breakpoint-up(lg) {
    .floor-plan-prev {
        &__text {
            margin-right: 50px;
        }
    }
}