.partner-logos {
    background-color: var(--color--gold);
    padding: 1.5em 0 1.5em;
    text-align: center;

    &__heading {
        color: #fff;
        text-shadow: 1px 1px 1px #000;
    }

    &__flex {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        max-width: 325px;
        margin: 0 auto;
    }

    &__logo {
        flex-basis: 150px;
        margin-top: 1em;

        @media screen and (max-width: 374px) {
            flex-basis: 130px;
        }
    }
}

@include media-breakpoint-up(sm) {
    .partner-logos {
        &__flex {
            max-width: 550px;
        }

        &__logo {
            flex-basis: 180px;
            padding: 0 1rem;

            &:nth-of-type(2) {
                padding-left: 0;
            }
        }
    }
}

@include media-breakpoint-up(lg) {
    .partner-logos {
        &__heading {
            margin-bottom: 0;
        }

        &__flex {
            max-width: 870px;
        }

        &__logo {
            flex-basis: 250px;
        }
    }
}