.team {
    text-align: center;
    padding-bottom: 2rem;

    hr {
        margin: 2.5em auto 1.5em;
    }

    &__flex {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        max-width: 420px;
        margin: 0 auto;
    }
    
    p {
        font-size: var(--text-size--s);
    }

    &__btn {
        background: none;
        border: none;
        padding: 0;
        text-align: center;

        &:hover,
        &:focus {
            background: none;
            border: none;

            img {
                filter: grayscale(0);
            }
        }
    }

    &__img-wrap {
        display: block;
        border-radius: 50%;
        overflow: hidden;
        max-width: 150px;
        margin: 0 auto;

        img {
            display: block;
            filter: grayscale(1);
            transition: var(--transition--med) ease all;
        }
    }

    &__img-wrap--border {
        border: 1px solid #ccc;
    }

    &__img-wrap--modal {
        max-width: 221px;

        img {
            filter: grayscale(0);
        }
    }

    &__name {
        font-family: var(--font--alt);
        color: var(--color--gray);
        margin: .5em 0 0;
    }

    &__name--modal {
        margin: .75em 0 1em;
    }

    &__text {
        margin: 0 0 1.5rem;
    }

    &__phone,
    &__email {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        svg {
            fill: var(--color--gray);
        }

        p {
            margin: 0;
        }
    }

    &__email {
        margin-bottom: .75rem;
    }

    &__phone-i,
    &__email-i {
        margin-right: .5rem;
    }

    &__dialog {
        .modal-header {
            padding-bottom: 0;
        }
    }
}

@include media-breakpoint-up(md) {
    .team {
        &__flex {
            max-width: 500px;
        }

        &__card {
            margin-bottom: 2rem;
        }

        p {
            font-size: var(--text-size--m);
        }

        &__img-wrap {
            max-width: 220px;
        }
    }
}

@include media-breakpoint-down(lg) {
    .team {
        &__card {
            flex-basis: 50%;
            padding: 0 .75rem 0;
            margin-bottom: 1rem;
    
            &:nth-of-type(odd) {
                padding-left: 0;
            }
    
            &:nth-of-type(even) {
                padding-right: 0;
            }
    
            &:nth-of-type(odd):last-of-type:not(:only-child) {
                padding-left: 0;
                padding-right: 0;
            }
        }
    }
}

@include media-breakpoint-up(lg) {
    .team {
        &__flex {
            max-width: 100%;
            margin-top: 3rem;
        }

        &__card {
            flex-basis: 25%;
            padding: 0 .5rem;
        }
    }
}