:root {
    --color--gold: #E4BC4D;
    --color--gold-rgb: 228 188 77;
    --color--lgold: #FFDD7E;
    --color--lgold-rgb: 255 221 126;
    --color--red: #AF3F17;
    --color--red-rgb: 175 63 23;
    --color--gray: #5D5D5D;
    --color--gray-rgb: 93 93 93;
    --color--mgray: #707070;
    --color--mgray-rgb: 112 112 112;
    --color--dgray: #3D3D3D;
    --color--dgray-rgb: 61 61 61;
    --color--warn: #AF3F17;
    --color--text: #5D5D5D;
    --font--main: 'Roboto', -apple-system, BlinkMacSystemFont, sans-serif;
    --font--alt: 'Allrounder Monument', serif;
    --text-size--xs: .75rem; // 12px
    --text-size--s: .875rem; // 14px
    --text-size--m: 1rem; // 16px
    --text-size--l: 1.125rem; // 18px
    --text-size--xl: 1.375rem; // 22px
    --text-size--h1: 1.375rem; // 22px
    --text-size--h2: 1.25rem; // 20px
    --text-size--h3: 1rem; // 16px
    --transition--short: .25s;
    --transition--med: .5s;
    --transition--long: .75s;
    --nav-height: 65px;
}