h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
	font-family: var(--font--alt);
}

h1, .h1 {
	font-size: var(--text-size--h1);
	font-weight: 500;
	line-height: 1.2;
}

h2, .h2 {
	font-size: var(--text-size--h2);
	font-weight: 500;
	margin: 0 0 .75em;
}