.footer {
    background: var(--color--gray);
    color: #fff;
    padding: 1.5em 0 2.5em;

    a {
        color: #fff;
        text-decoration: none;

        &:hover,
        &:focus {
            text-decoration: underline;
        }
    }

    p {
        font-size: var(--text-size--s);
        line-height: 1.4;
        margin-top: 0;

        &:last-of-type {
            margin-bottom: 0;
        }
    }

    &__nav-menu,
    &__social-menu {
        list-style: none;
        margin: 0 0 1.5em;
        padding: 0;
    }

    &__nav-menu {
        font-size: var(--text-size--s);

        li {
            margin: 0 0 .5em;
        }
    }

    &__contact-flex {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        margin: 0 0 .5em;

        &:last-of-type {
            margin-bottom: 1.5em;
        }
    }

    &__contact-i {
        margin-right: .5em;
        min-width: 20px;
        display: block;
        text-align: center;
    }

    &__social-menu {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: baseline;

        svg {
            fill: #fff;
            display: block;
            width: 100%;
            height: auto;
        }
    }

    &__social-li {
        margin-right: .75em;
        max-width: 34px;

        &:last-of-type {
            margin-right: 0;
        }
    }

    &__logo-link {
        display: block;
        margin-bottom: 1.25em;
    }
}

@include media-breakpoint-up(sm) {
    .footer {
        &__main {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
    }
}

@include media-breakpoint-up(md) {
    .footer {
        padding: 2em 0 3em;

        &__sm-left {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            width: 100%;
        }

        &__nav-wrapper {
            flex-basis: 40%;
        }
    }
}

@include media-breakpoint-up(lg) {
    .footer {
        padding: 3em 0 4em;

        h2 {
            margin-bottom: 1em;
        }

        p {
            font-size: var(--text-size--m);
        }

        &__main {
            margin-bottom: 2em;
        }

        &__nav-menu {
            font-size: var(--text-size--m);

            li {
                margin: 0 0 .325em;
            }
        }

        &__social-menu {
            margin: 0 0 2.25em;
        }

        &__social-li {
            max-width: 48px;
        }
    }
}